<!-- Listado Aristas -->
<section class="wrap">
	<div class="container">
		<div class="row">
      <% @artists.each do |artist|   %>
			<div class="col-sm-3">
        
        <div class="thumbnail">
          <img src=<%=artist.image_url %> alt="...">
          <div>
            <h4><%= artist.name %></h4>
              <a href="<%= artist_path (artist) %>" class="btn btn-primary btn-block" role="button">Ver más</a> 
          </div>
        </div>
      </div>
      <% end %>
		</div> <!-- .row -->
	</div><!-- .container -->

</section>
<!-- End Listado Aristas -->


<!-- Footer -->
<footer id="footer">
  <div class="container-fluid">
    <p>Make it Real &copy; 2015 | by <a href="http:">John Jairo Dussán</a></p>
  </div><!-- .container-fluid -->
</footer>
<!-- End Footer -->

