<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>Real Music</title>
    <link rel="icon" href="assets/img/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">    
    


  </head>
  <body>
    <!-- Header  -->
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><!-- .navbar-toggle -->
            <a class="navbar-brand" href="">
              <label>Real Music</label>
            </a>
          </div>


          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">                            
              <li><a href="">Artistas</a></li>
              <li><a href="">Mi música</a></link>
              	<li><a href="">Mi cuenta</a></link>
            </ul>
          </div><!-- .collapse -->        

        </div> <!-- .container -->
      </nav>
    </header>
    <!-- End Header  -->

    <!-- Listado Aristas -->
    <section id="wrap">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-3">Hola</div>
    		</div> <!-- .row -->
    	</div><!-- .container -->

    </section>
    <!-- End Listado Aristas -->


    <!-- Footer -->
    <footer id="footer">
      <div class="container-fluid">
        <p>E-commerce - Make it Real &copy; 2015 | by <a href="http:">John Jairo Dussán</a></p>
      </div><!-- .container-fluid -->
    </footer>
    <!-- End Footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>