/* === GENERAL === */

body{
	padding-top: 50px;
	
}

.wrap{
	padding-top: 50px;
	padding-bottom: 50px;

}




/* === Footer === */
#footer{
	padding: 20px;
	background: #22313F;
	color: white;
}

#footer a{
	color: #F5AB35;
}

#footer a:hover{
	color: #F9690E;
}
